@import "tailwindcss";

@theme {
    --color-qc-red: #ef1e26;
    --color-primary: #b91c1c; /* red-700 */
    --color-secondary: #fdd417; /* yellow */
    --color-dark: #111827; /* gray-900 */
    --color-icon-red: #dc2626; /* red-600 */
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Mulish", sans-serif;
}

img {
    width: 100%;
}

.skip-link {
    position: absolute;
    transform: translateY(-150%);
    transition: transform 150ms ease-in;
}
    
.skip-link:focus {
    transform: translateY(0);
}

a {
    text-underline-offset: 3px;
}

a:not(:is(:hover, :focus)) {
    text-decoration-color: 
    color-mix(in srgb, currentColor, transparent 45%);
}

.dropdown-link {
    @apply block px-4 py-2 text-sm no-underline decoration-transparent underline-offset-2 transition-colors duration-150 ease-in-out hover:underline hover:decoration-[#b91c1c]; 
}

.link-btn {
    @apply rounded px-4 py-2 text-sm shadow-lg no-underline tracking-[0.04rem] transition-all duration-200 ease-in-out transform hover:scale-[.95] hover:shadow-md active:translate-y-1 active:shadow-sm disabled:border-none disabled:hover:opacity-100 disabled:transform-none disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-400 dark:disabled:bg-gray-800 dark:disabled:text-gray-600
  }

/* TODO legg inn riktig styling her så det blir likt andre linker */
/* Sikter inn på alle lenker inne i content-blocks div */
.content-blocks a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: #1d4ed8; 
    transition: color 0.15s ease-in-out;
  }
  
  .content-blocks a:hover {
    color: #1e3a8a;
    text-decoration-thickness: 2px; 
  }

 
/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
    @apply font-semibold text-gray-700 dark:text-gray-300;
}

h1,
h2 {
    @apply mb-1 tracking-[0.12rem];
}

h1 {
    @apply text-2xl sm:text-3xl mb-3;
}

h2 {
    @apply text-xl ;
}

h3 {
    @apply text-lg tracking-[0.08rem];
}

h4 {
    @apply text-base tracking-[0.08rem];
}

strong {
    font-weight: 700;
}

/* denne skal gi forms samme font.. sjekk */
input, textarea, select, button, label {
    font-family: 'Mulish', sans-serif;
}

/* to have background be full width, even inside container */
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
